@use "./variables/theme";
@use "./variables/function" as *;
@use "./variables/transition";

#search-suggestion {
  // display: none;
  position: absolute;
  background-color: theme.$element-color;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  margin-top: 10px;
  color: theme.$text-color;
  width: 90%;

  .suggestion-text {
    cursor: pointer;
    font-size: rem(12);
    padding: rem(12) rem(8);
    border-radius: 5px;
    margin: 0 rem(8);
    transition: background-color transition.$time;
  }

  .suggestion-text:first-child {
    margin-top: 8px;
  }

  .suggestion-text:last-child {
    margin-bottom: 8px;
  }

  .suggestion-text:hover {
    background-color: theme.$element-hover-color;
  }

  .suggestion-text:focus {
    background-color: theme.$element-hover-color;
  }
}

.search-container:focus-within {
  #search-suggestion {
    // display: block;
  }
}

#search-suggestion:focus {
  display: block;
}

@media screen and (min-width: 475px) {
  #search-suggestion {
    width: 480px;

    .suggestion-text {
      font-size: rem(14);
    }
  }
}
