@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/NunitoSans-Regular.ttf") format("truetype");
}

:root {
  /* --- Typography --- */
  --homepage-items-text-size: 14px;
  --detail-page-text-size: 16px;
  --light-text-weight: 300;
  --normal-text-weight: 600;
  --bold-text-weight: 800;

  font-family: "Nunito Sans", sans-serif;
}

[data-theme="dark"] {
  /* --- Dark Mode Colors --- */
  --background-color: hsl(207, 26%, 17%);
  --element-color: hsl(209, 23%, 22%);
  --element-hover-color: hsl(209, 23%, 32%);
  --text-color: hsl(0, 0%, 100%);
  --input-color: hsl(0, 0%, 100%);
  --glow-color: rgba(255, 255, 255, 0.9);
  --dropdown-text-color: white;
}

[data-theme="light"] {
  /* --- Light Mode Colors --- */
  --background-color: hsl(0, 0%, 98%);
  --element-color: hsl(0, 0%, 100%);
  --element-hover-color: hsl(0, 0%, 96%);
  --text-color: hsl(200, 15%, 8%);
  --input-color: hsl(0, 0%, 52%);
  --glow-color: rgba(0, 0, 0, 0.9);
  --dropdown-text-color: black;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
}

.header .container {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100vw;
  background-color: var(--element-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}

.dark-mode-icon-svg {
  width: 16px;
  height: 16px;
}

.dark-mode-icon-svg:hover {
  cursor: pointer;
}

.dark-mode-icon-svg-path {
  fill: var(--text-color);
}

.dark-mode-icon-svg-path:hover {
  fill: var(--text-color);
  stroke: var(--glow-color);
  stroke-width: 3px;
}

.title {
  font-weight: var(--bold-text-weight);
  color: var(--text-color);
  font-size: 14px;
}

.dark-mode-container {
  display: flex;
  width: 100px;
  align-items: center;
}

.dark-mode-text {
  font-weight: var(--normal-text-weight);
  color: var(--text-color);
  font-size: 12px;
  white-space: nowrap;
  margin-left: 8px;
}

.container {
  width: 343px;
  padding: 16px;
  margin: auto;
}

.search-container {
  background-color: var(--element-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.search-container:focus-within {
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.212);
}

.search-container:hover {
  cursor: pointer;
}

.search-icon-svg {
  height: 16px;
  width: 16px;
  margin-left: 32px;
  margin-right: 26px;
}

.search-icon-svg-path {
  fill: var(--input-color);
}

.search {
  width: 100%;
  margin-right: 10px;
  background-color: var(--element-color);
  border: 0;
  caret-color: var(--text-color);
}

.search::placeholder {
  color: var(--input-color);
}
.search:focus {
  outline: none;
}

#menu-activator {
  background-color: var(--element-color);
  color: var(--text-color);
  width: 200px;
  height: 48px;
  padding-left: 24px;
  font-weight: var(--light-text-weight);
  border-radius: 5px;
  border: 0;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  line-height: 48px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

#menu-activator:focus {
  background-color: var(--element-hover-color);
}

#region-menu {
  display: none;
  padding: 16px 0 16px 0;
  position: absolute;
  background-color: var(--element-color);
  width: 224px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  margin-top: 4px;
  color: var(--dropdown-text-color);
  line-height: 30px;
}

.region-menu-items {
  padding-left: 24px;
  cursor: pointer;
}

.region-menu-items:hover {
  background-color: var(--element-hover-color);
}
