@use "./src/scss/theme";
@use "./src/components/Header/DarkMode";
@use "./src/components/Header/Header";

@font-face {
  font-family: "Nunito Sans";
  src: url("./src/assets/NunitoSans-Regular.ttf");
}

* {
  font-family: "Nunito Sans", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
