@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/NunitoSans-Regular.ttf") format("truetype");
}

:root {
  /* --- Typography --- */
  --homepage-items-text-size: 14px;
  --detail-page-text-size: 16px;
  --light-text-weight: 300;
  --normal-text-weight: 600;
  --bold-text-weight: 800;

  font-family: "Nunito Sans", sans-serif;
}

[data-theme="dark"] {
  /* --- Dark Mode Colors --- */
  --background-color: hsl(207, 26%, 17%);
  --element-color: hsl(209, 23%, 22%);
  --element-hover-color: hsl(209, 23%, 32%);
  --text-color: hsl(0, 0%, 100%);
  --input-color: hsl(0, 0%, 100%);
  --glow-color: rgba(255, 255, 255, 0.9);
  --dropdown-text-color: white;
  --svg-fill: hsl(0, 0%, 100%);
}

[data-theme="light"] {
  /* --- Light Mode Colors --- */
  --background-color: hsl(0, 0%, 98%);
  --element-color: hsl(0, 0%, 100%);
  --element-hover-color: hsl(0, 0%, 94.5%);
  --text-color: hsl(200, 15%, 8%);
  --input-color: hsl(0, 0%, 52%);
  --glow-color: rgba(0, 0, 0, 0.9);
  --dropdown-text-color: black;
  --svg-fill: transparent;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
}

.container {
  width: 343px;
  padding: 16px;
  margin: auto;
  margin-top: 80px;
}

/* --- HEADER --- */

.header-container {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 343px;
  padding: 16px;
  margin: auto;
}

.header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  background-color: var(--element-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}

.title {
  font-weight: var(--bold-text-weight);
  color: var(--text-color);
  font-size: 14px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.dark-mode-container {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: flex-end;
}

.dark-mode-icon-svg {
  width: 16px;
  height: 16px;
}

.dark-mode-icon-svg:hover {
  cursor: pointer;
}

.dark-mode-icon-svg-path {
  fill: var(--svg-fill);
  stroke: var(--text-color);
  stroke-width: 3px;
}

.dark-mode-icon-svg-path:hover {
  fill: var(--svg-fill);
  stroke: var(--glow-color);
  stroke-width: 5px;
}

.dark-mode-text {
  font-weight: var(--normal-text-weight);
  color: var(--text-color);
  font-size: 12px;
  white-space: nowrap;
  margin-left: 8px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* --- SEARCH --- */

.search-container {
  background-color: var(--element-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-size: 12px;
}

input[type="search"] {
  font-size: 12px;
}

.search-container:focus-within {
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.212);
}

.search-container:hover {
  cursor: pointer;
}

.search-icon-svg {
  height: 16px;
  width: 16px;
  margin-left: 32px;
  margin-right: 26px;
}

.search-icon-svg-path {
  fill: var(--input-color);
}

.search {
  width: 100%;
  margin-right: 10px;
  background-color: var(--element-color);
  border: 0;
  caret-color: var(--text-color);
  height: 100%;
  color: var(--text-color);
}

.search::placeholder {
  color: var(--input-color);
}
.search:focus {
  outline: none;
}

/* --- DROPDOWN --- */

#menu-activator {
  background-color: var(--element-color);
  color: var(--text-color);
  width: 156px;
  height: 48px;
  padding-left: 24px;
  font-weight: var(--light-text-weight);
  border-radius: 5px;
  border: 0;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  line-height: 48px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-size: 14px;
}

#menu-activator:focus {
  background-color: var(--element-hover-color);
}

.region-menu-container {
  display: flex;
  flex-direction: column;
}

#region-menu {
  display: none;
  padding: 16px 0 16px 0;
  position: absolute;
  background-color: var(--element-color);
  width: 200px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  margin-top: 53px;
  color: var(--dropdown-text-color);
  line-height: 30px;
}

.region-menu-items {
  padding-left: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-size: 14px;
}

.region-menu-items:hover {
  background-color: var(--element-hover-color);
}

.dropdown-arrow {
  fill: var(--text-color);
}

/* --- COUNTRY CARD --- */

.country-card {
  width: 264px;
  margin: auto;
  margin-top: 40px;
  background-color: var(--element-color);
  color: var(--text-color);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  transition: 0.11s;
}

.country-card:hover {
  background-color: var(--element-hover-color);
  cursor: pointer;
  transform: scale(1.03);
}

.flag {
  display: block;
  margin: auto;
  width: 100%;
}

.name {
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: var(--bold-text-weight);
}

.stats-section {
  padding: 0 24px 0 24px;
  margin-bottom: 46px;
}

.stats-wrap {
  margin-bottom: 4px;
}

.stats-title {
  font-weight: var(--normal-text-weight);
  font-size: 14px;
}

.stats {
  font-weight: var(--light-text-weight);
  font-size: 14px;
}

.empty-data {
  color: gray;
}

/* AUTOCOMPLETE MODAL */

#search-box {
  display: flex;
  flex-direction: column;
}

#autocomplete-modal {
  display: none;
  position: absolute;
  padding: 16px 0 16px 0;
  background-color: var(--element-color);
  width: 343px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  margin-top: 53px;
  color: var(--dropdown-text-color);
  line-height: 30px;
}

.autocomplete-name {
  padding-left: 24px;
  cursor: pointer;
  list-style-type: none;
  font-size: 12px;
}

.autocomplete-name:hover {
  background-color: var(--element-hover-color);
}

/* ROUTING */

#country-modal {
  position: fixed;
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100%;
  height: 100%;
  display: none;
}

@media screen and (min-width: 850px) {
  .container {
    width: 85%;
    padding: 50px 80px 0 80px;
  }

  .header {
    height: 80px;
  }

  .title {
    font-size: 24px;
  }

  .dark-mode-text {
    font-size: 16px;
  }

  .dark-mode-icon-svg {
    transform: scale(1.5);
  }

  .search-and-dropdown-header {
    display: flex;
    justify-content: space-between;
  }

  .search-container {
    width: 480px;
  }

  .header-container {
    width: 85%;
    padding-right: 80px;
    padding-left: 80px;
  }

  #country-list {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  #country-list-container {
    margin: auto;
  }

  .country-card {
    margin: 37.5px;
  }

  #menu-activator {
    font-size: 16px;
  }

  .region-menu-items {
    font-size: 16px;
  }

  input[type="search"] {
    font-size: 14px;
  }

  .autocomplete-name {
    font-size: 14px;
  }

  .search-icon-svg {
    transform: scale(1.4);
  }
}

/* --- DETAIL PAGE --- */

#country-modal {
  z-index: 99;
  overflow: auto;
}

.detail-container {
  width: 343px;
  padding: 16px;
  margin: auto;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

#back-button {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 6px 22px;
  border: none;
  border-radius: 2px;
  background-color: var(--element-color);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
  color: var(--text-color);
  margin-bottom: 65px;
  align-self: flex-start;
  justify-content: center;
}

#back-button:hover {
  background-color: var(--element-hover-color);
  cursor: pointer;
}

.detail-flag {
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.detail-page-name {
  font-size: 22px;
  font-weight: var(--bold-text-weight);
  margin-top: 44px;
}

#back-button svg {
  margin-right: 8px;
}

#back-button svg path {
  fill: var(--text-color);
}

#list-1 {
  margin-bottom: 32px;
}

.detail-stats-list {
  list-style-type: none;
  padding: 0;
  line-height: 32px;
}

.detail-stat-title {
  font-size: 14px;
  font-weight: var(--normal-text-weight);
}

.detail-stat-text {
  font-size: 14px;
  font-weight: var(--light-text-weight);
}

.detail-border-button-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 200px;
}

.detail-border-countries-title {
  font-size: 16px;
  font-weight: var(--bold-text-weight);
  line-height: 24px;
  display: block;
  margin-bottom: 16px;
  align-self: flex-end;
}

.detail-border-country-button {
  height: 28px;
  padding: 6px 22px;
  border: none;
  border-radius: 2px;
  background-color: var(--element-color);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
  color: var(--text-color);
  margin-right: 10px;
  margin-bottom: 10px;
}

.detail-border-country-button:hover {
  background-color: var(--element-hover-color);
  cursor: pointer;
}

#border-title-2 {
  display: none;
}

@media screen and (min-width: 850px) {
  .detail-container {
    width: 85%;
    padding: 55px 80px 0 80px;
  }

  #back-button {
    margin-bottom: 80px;
    height: 40px;
    width: 136px;
    padding: 0;
    border-radius: 6px;
  }

  #back-button svg {
    /* margin-left: 0px; */
    transform: scale(1.111);
    font-size: 16px;
    font-weight: var(--light-text-weight);
  }

  .detail-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .detail-flag-container {
    width: 560px;
    border-radius: 10px;
    margin-right: 30px;
  }

  .detail-stats-main-container {
    width: 598px;
  }

  .detail-stats-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .detail-page-name {
    margin-top: 0;
    font-size: 32px;
  }

  .detail-stat-title {
    font-size: 16px;
    line-height: 32px;
  }

  .detail-stat-text {
    font-size: 16px;
  }

  .detail-border-countries-container {
    display: flex;
    flex-direction: row;
  }

  #border-title-1 {
    display: none;
  }

  #border-title-2 {
    display: block;
  }

  .detail-border-countries-title {
    white-space: nowrap;
    margin-right: 15px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .detail-content {
    justify-content: space-evenly;
  }
}
