html[data-theme="dark"] {
  //Colors
  --background-color: hsl(207, 26%, 17%);
  --element-color: hsl(209, 23%, 22%);
  --element-hover-color: hsl(209, 23%, 32%);
  --text-color: hsl(0, 0%, 100%);
  --input-text-color: hsl(0, 0%, 100%);

  //Dark-mode-icon
  --svg-fill-color: hsl(0, 0%, 100%);
  --svg-stroke-color: none;
  // --svg-stroke-width: none;
}

html[data-theme="light"] {
  //Colors
  --background-color: hsl(0, 0%, 98%);
  --element-color: hsl(0, 0%, 100%);
  --element-hover-color: hsl(0, 0%, 94.5%);
  --text-color: hsl(200, 15%, 8%);
  --input-text-color: hsl(0, 0%, 52%);

  //Dark-mode-icon
  --svg-fill-color: none;
  --svg-stroke-color: hsl(200, 15%, 8%);
  // --svg-stroke-width: 1px;
}

//Colors
$background-color: var(--background-color);
$element-color: var(--element-color);
$element-hover-color: var(--element-hover-color);
$text-color: var(--text-color);
$input-text-color: var(--input-text-color);

//Dark-mode-icon
$svg-fill-color: var(--svg-fill-color);
$svg-stroke-color: var(--svg-stroke-color);
// $svg-stroke-width: var(--svg-stroke-width);
